header {
    padding: 20px;

    .navber {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: ;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        border-radius: 8px;

        .brand-logo {
            a {
                text-decoration: none;
            }
        }

        .nav-menu {
            ul {
                list-style: none;

                li {
                    display: inline-flex;
                    gap: 80px;
                }
            }
        }

        .nav-btn {
            display: flex;
            gap: 28px;

            .primary-btn {
                    padding: 8px 18px;
                    border-radius: 8px;
                    border: 1px solid var(--button, #00B4D8);
                    background: transparent; 
                    box-shadow: 2px 1px 10px #00B4D8;
                    a {
                        font-size: 16px;
                        line-height: normal;
                        color: #fff;
                        text-decoration: none;
                        letter-spacing: 1.1px;
                    }
                
            }
            .secondary-btn {
                padding: 8px 18px;
                border-radius: 8px;
                border: 1px solid transparent;
                background: linear-gradient(90deg, rgba(14,186,240,1) 0%, rgba(81,122,249,1) 100%);
                a {
                    font-size: 16px;
                    line-height: normal;
                    color: #000;
                    text-decoration: none;
                    letter-spacing: 1.1px;
                }
            }
        }
    }
}