@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-7xl font-semibold
    }

    h3 {
        @apply text-5xl
    }

    a {
        @apply text-base no-underline text-white
    }

    p {
        @apply text-lg
    }
}

@layer components {
    .btn {
        @apply border border-sky-400 py-2 px-5 rounded-lg shadow-md shadow-blue-500/50
    }
}

@layer utilities {
    .bg-primary {
        background-color: #000814;
    }

    .bg-secondary {
        background-color: #072B63;
    }

    .bg-blue {
        background-color: #00B4D880;
    }

    .bg-sky-blue {
        background-color: #00B4D8;
    }

    .border-primary {
        border: 1px solid rgba(255, 255, 255, 0.10);
    }

    .bg-gradiant {
        background: linear-gradient(90deg, rgba(14, 186, 240, 1) 0%, rgba(81, 122, 249, 1) 100%);
        ;
    }

    .text-gradient {

        background: linear-gradient(90deg, #FB37FF 37.5%, #00B4D8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-theme {
        color: #999;
    }

    .info-bg {
        background: linear-gradient(180deg, rgba(2, 33, 81, 0.30) 0%, rgba(1, 11, 27, 0.30) 100%);
    }

    .info-bg-1 {
        background: linear-gradient(180deg, #022151 0%, #010B1B 100%);
    }

    .gray {
        color: #999999;
    }

    .features-box {
        border: 1.5px solid rgba(153, 153, 153, 0.20);
        background: linear-gradient(145deg, #020E20 9.5%, #03182F 90.5%);
    }
    .d-none {
        display: none;
    }
    .bg-testimonials{
        border: 1.5px solid rgba(153, 153, 153, 0.20);
        background:  linear-gradient(180deg, #05152D 0%, #000814 100%);
    }
    .bg-blue-1 {
        background: #011129;
        
    }
    .bg-blue-2 {
        background: #000C1D;
    }
}